section.motivos {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
}

section.motivos div {}

section.motivos div h1 {
    font-size: 60px;
}

section.motivos div p {
    font-size: 30px;
}

section.motivos div img {}

.alterna {
    flex-direction: row-reverse;
}